:root {
	--bs-body-font-family: "Roboto Mono", monospace;
}

html,
body {
	min-height: 100vh;
}

button.reset {
	border: none;
	padding: 0;
	background-color: transparent;
}

.dropdown-toggle-noarrow::after {
	content: none;
}

.cursor-pointer {
	cursor: pointer;
}

.bi {
	color: var(--bs-body-color);
}
