/* #region global */
:root {
	--bs-body-font-family: "Roboto", sans-serif;
}

html,
body {
	min-height: 100vh;
}
/* #endregion */

/* #region bootstrap */
.dropdown-toggle-noarrow::after {
	content: none;
}

.bi {
	color: var(--bs-body-color);
}

.btn {
	transform-origin: center;

	&:active {
		transform: scale(.95);
	}
}
/* #endregion */

/* #region util */
.reset {
	border: none;
	padding: 0;
	margin: 0;
	background: none;
}

.cursor-pointer {
	cursor: pointer;
}

.color-inherit {
	color: inherit;
}

.hover-warning:hover {
	color: var(--bs-warning);
}

.m-n1 {
	margin: -.25rem;
}
/* #endregion */
