:root {
	--bs-body-font-family: "Roboto", sans-serif;
}

html,
body {
	min-height: 100vh;
}

button.reset {
	border: none;
	padding: 0;
	background-color: transparent;
}

.dropdown-toggle-noarrow::after {
	content: none;
}

.cursor-pointer {
	cursor: pointer;
}

.bi {
	color: var(--bs-body-color);
}

.m-n1 {
	margin: -.25rem;
}

.color-inherit {
	color: inherit;
}

.btn {
	transform-origin: center;

	&:active {
		transform: scale(.95);
	}
}
